<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Anesthesians</h6>
  </div>
  <!-- Card Body -->
  <div class="card-body">
    <table class="table table-bordered dataTable" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @anesthesians.each do |anesthesian| %>
      <tr>
        <td><%= anesthesian.name %></td>
        <td><%= link_to 'Edit', edit_anesthesian_path(anesthesian) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Anesthesian', new_anesthesian_path, class: 'btn btn-primary' %>
  </div>
</div>