<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Occupation Groups</h6>
  </div>
  <!-- Card Body -->
  <div class="card-body">
    <table class="table table-bordered dataTable">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @occupation_groups.each do |occupation_group| %>
      <tr>
        <td><%= occupation_group.name %></td>
        <td><%= link_to 'Edit', edit_occupation_group_path(occupation_group) %> |
          <%= link_to 'Delete', occupation_group, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Occupation Group', new_occupation_group_path, class: 'btn btn-primary' %>
  </div>
</div>