<div class="card shadow mb-4">
<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h4>Backlog</h4>
  </div>
  <!-- Card Body -->
  <div class="card-body">
    <table class="table table-striped" width="100%">
      <thead>
      <tr>
        <th>Department</th>
        <th>Backlog</th>
      </tr>
      </thead>
      <% total = 0 %>
      <% Department.all.map do |d| %>
          <tr>
            <th><%= d %></th>
            <th><%= dt = d.missing_total %></th>
            <% total += dt %>
          </tr>
      <% end %>
      <tr>
        <th class="text-center">Total</th>
        <th><%= total %></th>
      </tr>
    </table>
  </div>
</div>