<p>
  <strong>Name:</strong>
  <%= @hospital.name %>
</p>

<p>
  <strong>Region:</strong>
  <%= @hospital.region %>
</p>
<hr/>
<%= link_to 'Edit', edit_hospital_path(@hospital) %> |
<%= link_to 'Back', hospitals_path %>
