<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Regions</h6>
  </div>
  <!-- Card Body -->
  <div class="card-body">
    <table class="table dataTable">
      <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @regions.each do |region| %>
          <tr>
            <td><%= region.name %></td>
            <td><%= link_to 'Edit', edit_region_path(region), class: 'btn btn-primary' %>
              <%= link_to 'Delete', region, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <%= link_to 'Add Region', new_region_path,class: 'btn btn-primary' %>
  </div>
</div>