<%= content_for :header do %>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"><%= header rescue nil %></h1>
    </div>
<% end %>
<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h4><%= title %></h4>
  </div>
<!-- Card Body -->
<div class="card-body">
  <%= yield %>
</div>
</div>